*{
    box-sizing:border-box;
}
.container{
border: 3px solid red;
width: 40vw;
position :absolute;
top: 50px;
left: 30vw;
}
.red{
    border:3px solid red;
}
h1,p{
    margin:30px 10px 20px;
    padding:10px;
}
ul{
    margin: 20px 10px;
    padding:10px;
}
li{
    padding:10px;
}
span{
    margin: 10px;
}
input,a{
    padding:7px 10px;
    margin-bottom:10px;
}